<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DONATE</title>
<link rel="icon" type="image/jpeg" href="/photos/logo.jpg"/>

<link rel="stylesheet" href="/donatenow.css">
<link rel="stylesheet" href="/style.css">
</head>
<body>

  
<div class="container1">
  <div class="header">
    <h1>Charitable Organization</h1>
  </div>
  <div class="image-container">
    <img src="/photos/hands.jpg" alt="Charitable Organization">
  </div>
  <div class="about-us">
    
   </div>
  <a href="/views/donating.html" class="donate-button">Donate</a>
</div>
<script src="/models/donatenow.js"></script>


<div class="aryan">

</div>

<footer class="footer">
  <div class="container row">
      <div class="footer-col">
          <h4>Donate</h4>
          <ul>
              <li><a href="/views/ngo2.html">Donate Now</a></li><br>
              <li><a href="/views/mission.html">Ways to Give</a></li><br>
              <li><a href="#">Impact Stories</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h4>Volunteer</h4>
          <ul>
              <li><a href="/views/events.html">Volunteer Opportunities</a></li><br>
              <li><a href="/views/donate.html">How to Volunteer</a></li><br>
              <li><a href="#">Volunteer Stories</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h4>Scholarship</h4>
          <ul>
              <li><a href="/views/education.html">Scholarship Opportunities</a></li><br>
              <li><a href="/views/donate.html">How to Apply</a></li><br>
              <li><a href="#">School Stories</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h4>Learn More</h4>
          <ul>
              <li><a href="/views/team.html">Our Team</a></li><br>
              <li><a href="/views/index.html">Our Work</a></li><br>
              
          </ul>
      </div>
      <div class="footer-col">
          <h4>Follow Us</h4>
          <div class="social-links">
              <a href="https://www.facebook.com/share/zqPgBzU3kXwA1nGF/?mibextid=qi2Omg"><img src="/photos/fb.jpg" alt="Facebook"></a>
              <a href="https://www.instagram.com/aryan477x?igsh=ZmNtZ3Y4eDJ0ODVi"><img src="/photos/insta.png" alt="Instagram"></a>
              <a href="https://www.linkedin.com/in/aryansharma07?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="/photos/linked.png" alt="LinkedIn"></a>
          </div>
      </div>
  
</footer>
</body>
</html>


</body>
</html>
